#calculator-screen {
    grid-area: calculator-screen;
    background-color: rgb(130, 127, 127);
    border-radius: 10px 10px 0 0;
    color: white;
    padding: 8px;
  }
  
  .screen-zero {
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #operators-space {
    grid-area: operators-space;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 0;
    background-color: rgb(198, 198, 198);
  }
  
  .op {
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;

  }
  
  .op:last-of-type {
    border-right: none;
  }
  
  .symbol {
    padding: 9px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #numbers-space {
    grid-area: numbers-space;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 0;
    background-color: rgb(230, 228, 228);
    border-radius: 0 0 0 10px;
  }
  
  .row-num {
    text-align: center;
    border-right: 1px solid black;
  }

  .row-num #second-row{
    border-right: 1px solid black;
  }

  .row-num div {
    height: 100%;
    text-align: center;
    align-items: center; 
  }

  .row-num div:last-of-type {
    border-bottom: none;
  }

  .text-num {
    text-align: center;
    padding: 15px;
    border-top: 1px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  #equal-space {
    display: grid;
    height: 100%;
    grid-area: equal-space;
    align-items: center;
    background-color: rgb(243, 113, 113);
    border-top: 0.5px solid black;
    border-radius: 0 0 10px 0;
  }
  
  .equal-operator {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #container {
    display: grid;
    width: 400px;
    grid-gap: 0;
    border: 1px solid black;
    grid-template-rows: 50px 40px 200px;
    grid-template-columns: 300px 100px;
    grid-template-areas:
      "calculator-screen calculator-screen"
      "operators-space operators-space"
      "numbers-space equal-space";
  }
  